<% content_for :title, "Friends" %>

<h1>Friends</h1>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Twitter</th>
            <th>User ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @friends.each do |friend| %>
        <tr>
            <td>
                <%= link_to friend.first_name + " " + friend.last_name, friend %>
            </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= friend.user_id %></td>
            <% if friend.user == current_user%>
            <td>
                <%= button_to "Destroy", friend, data: { confirm: "XXX?", turbo_confirm: "Are you sure?" },method: :delete, class: "btn btn-danger" %>
            </td>
            <% else %>
            <td></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>


<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>