<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <%= link_to "CRUD", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <%= link_to "About us", home_about_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to "Friends", friends_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "My profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>